.center-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-brand {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.custom-brand::first-letter {
  color: red;
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 991.98px) {
  .center-nav {
    position: static;
    transform: none;
  }
}
